<p id="notice"><%= notice %></p>

<p>
  <strong>Check in:</strong>
  <%= @new_confirm.check_in %>
</p>

<p>
  <strong>Check out:</strong>
  <%= @new_confirm.check_out %>
</p>

<p>
  <strong>Head count interger:</strong>
  <%= @new_confirm.head_count_interger %>
</p>

<p>
  <strong>User:</strong>
  <%= @new_confirm.user_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @new_confirm.room_id %>
</p>

<%= link_to 'Edit', edit_new_confirm_path(@new_confirm) %> |
<%= link_to 'Back', new_confirms_path %>
