
<% if user_signed_in? %>
    <p>予約済一覧</p>
<% else %>
<% end %>

<%= form_with(url: rooms_search_path, method: :get) do |f| %>
  <%= f.label :name_cont, '施設名' %>
  <%= f.text_field :name_cont %>

  <%= f.label :address_cont, '住所' %>
  <%= f.text_field :address_cont %>

  <%= f.submit '検索' %>
<% end %>