<h1>予約確認ページ</h1>

<table>
  <tr>
    <td>チェックイン日:</td>
    <td><%= @reservation.check_in %></td>
  </tr>
  <tr>
    <td>チェックアウト日:</td>
    <td><%= @reservation.check_out %></td>
  </tr>
  <tr>
    <td>宿泊日数:</td>
    <td><%= @total_day %>日</td>
  </tr>
  <tr>
    <td>人数:</td>
    <td><%= @reservation.head_count %></td>
  </tr>
  <tr>
    <td>支払い金額:</td>
    <td><%= @total_price %>円</td>
  </tr>
  <tr>
    <td>金額</td>
    <td> <%= @room.price %>円/日</td>
</table>
<h2>部屋を予約する</h2>



<%= link_to '戻る', :back, class: "back-link" %>

