<h1>予約確認ページ</h1>

<table>
  <tr>
    <td>チェックイン日:</td>
    <td><%= @reservation.check_in %></td>
  </tr>
  <tr>
    <td>チェックアウト日:</td>
    <td><%= @reservation.check_out %></td>
  </tr>
  <tr>
    <td>宿泊日数:</td>
    <td><%= @total_day %>日</td>
  </tr>
  <tr>
    <td>人数:</td>

  </tr>
  <tr>
    <td>支払い金額:</td>
    <td><%= @total_price %>円</td>
  </tr>
</table>

<%= form_with(model: @reservation, method: :post, url: reservations_path) do |f| %>
  <%= f.hidden_field :check_in, value: @reservation.check_in %>
  <%= f.hidden_field :check_out, value: @reservation.check_out %>

  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.submit "予約する",  class: "btn btn-primary" %>
<% end %>

<%= link_to '戻る', :back, class: "back-link" %>
