<h1>予約確認</h1>

<p>以下の詳細を確認して、予約を確定してください。</p>

<table>
  <tr>
    <td>チェックイン日:</td>
    <td><%= @room.check_in %></td>
  </tr>
  <tr>
    <td>チェックアウト日:</td>
    <td><%= @reservation.check_out %></td>
  </tr>
  <tr>
    <td>宿泊日数:</td>
    <td><%= @total_day %>日</td>
  </tr>
  <tr>
    <td>人数:</td>
    <td><%= @reservation.head_count %>人</td>
  </tr>
  <tr>
    <td>支払い金額:</td>
    <td><%= (@reservation.check_out - @reservation.check_in).to_i * @reservation.head_count * @room.price %></td>
  </tr>
</table>
